html {
  --color-primary: #1f2937;
  --color-secondary: #e5e7eb;
  --color-offwhite: #f9faf8;
  --color-text: #4b5563;
  --color-accent: #3882f6;
  font-size: 0.625em;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-size: 1.6rem;
  color: var(--color-text);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: var(--color-primary);
}

.page-header,
.page-footer,
.main-sec {
  padding: 0 16px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}


/* Page Header */
.page-header {
  height: 70px;
  background-color: var(--color-primary);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  height: 100%;
  padding: 10px 0;
}

.page-header .logo {
  width: 160px;
}

.page-header nav menu {
  display: flex;
  gap: 5px 14px;
  color: var(--color-secondary);
  font-size: clamp(1.4rem, 2.5vw, 1.8rem);
  text-wrap: nowrap;
  margin-right: -6px;
}

.page-header nav menu a {
  padding: 6px;
}


/* Hero Section */
.sec-hero {
  background-color: var(--color-primary);
  color: var(--color-offwhite);
}

.sec-hero .container {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}

.sec-hero .hero-main-text {
  width: 340px;
  flex: 1 1 auto;
  padding-right: 30px;
  margin-bottom: 15px;
}

.sec-hero .hero-main-text h1 {
  color: var(--color-offwhite);
  font-weight: 900;
  font-size: 4.8rem;
  line-height: 1.15;
  text-wrap: balance;
}

.sec-hero .hero-main-text p {
  font-size: 1.8rem;
  color: var(--color-secondary);
  margin-bottom: 12px;
}

.sec-hero .hero-main-text a {
  background-color: var(--color-accent);
  padding: .5em 2em;
  margin-bottom: 15px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 1.8rem;
  display: inline-block;
}

.sec-hero .hero-img {
  width: 340px;
  flex: 1 1 auto;
}
#logo-img {
  mix-blend-mode: lighten;
}


/* Products Section */
.sec-products {
  background-color: white;
}

.sec-products .container {
  padding: 75px 0 100px;
}

.sec-products h2 {
  text-align: center;
  font-size: 3.6rem;
  color: var(--color-primary);
  font-weight: 900;
  margin-bottom: 1.5em;
}

.sec-products .products-list {
  --total-width: 820px;
  --gap: 50px;
  --items-per-row: 4;
  --total-gap: calc(var(--gap) * (var(--items-per-row) - 1));
  --net-width: calc(var(--total-width) - var(--total-gap));
  max-width: var(--total-width);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap);
}

.sec-products .product-item {
  width: calc(var(--net-width) / var(--items-per-row));
}

.sec-products .product-item img {
  border: 4px solid var(--color-accent);
  border-radius: 16px;
  width: 100%;
}

.sec-products p {
  margin-top: 12px;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2em;
}


/* Testimonial Section */
.sec-testimonial {
  background-color: var(--color-secondary);
}

.sec-testimonial .container {
  padding: 90px 0 52px;
  display: flex;
  justify-content: center;
}

.sec-testimonial blockquote {
  font-size: 3.6rem;
  width: 800px;
  padding: 30px;
  line-height: 1.22em;
  color: var(--color-primary);
  font-weight: 300;
  font-style: italic;
}

.sec-testimonial blockquote cite {
  display: block;
  text-align: right;
  font-size: 2.3rem;
  font-weight: 700;
  font-style: normal;
  margin-right: 30px;
}


/* CTA Section */
.sec-cta {
  background-color: white;
}

.sec-cta .container {
  padding: 95px 0;
}

.sec-cta .cta-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  background-color: var(--color-accent);
  padding: 38px;
  border-radius: 10px;
  color: var(--color-offwhite);
}

.sec-cta .cta-content h3 {
  font-size: 2.4rem;
  font-weight: 700;
  text-wrap: balance;
}

.sec-cta .cta-content p {
  font-size: 1.6rem;
}

.sec-cta a {
  font-size: 1.6rem;
  border: 2px solid var(--color-offwhite);
  padding: 0.4em 2em;
  border-radius: 7px;
  font-weight: 700;
  align-self: flex-end;
  margin-bottom: 0.4em;
}


/* Page Footer */
.page-footer {
  background-color: var(--color-primary);
  color: var(--color-offwhite);
}

.page-footer .container {
  padding: 40px 0;
}

.page-footer .copyright {
  font-size: 1.8rem;
  text-align: center;
}



